
{% load static %}

 <!-- Footer -->
<style>
     a {
  color: #FC2F2F;
}
.btn-primary {
  background-color: #FC2F2F;
  border: 1px solid black; /* Ajusta el grosor del borde según tus necesidades */
  
}
</style>
 <footer style="background-color: #000; padding-bottom: 35px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 py-3">
        <a href="{% url 'welcome' %}" class="navbar-brand">
          <span style="color:red; font-size: 35px;">SP</span>
          <span style="color:red; font-size: 35px;">Global</span>
      </a>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Contact Information</h5>
        <p>301 The Greenhouse, Custard Factory, London, E2 8DY.</p>
        <p>Email: example@mail.com</p>
        <p>Phone: +00 112323980</p>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Company</h5>
        <ul class="footer-menu">
          <li><a href="#">Career</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">News & Feed</a></li>
        </ul>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Newsletter</h5>
        <form action="#">
          <input type="text" class="form-control" placeholder="Enter your email">
          <button type="submit" class="btn btn-primary btn-sm mt-2">Submit</button>
        </form>
      </div>
    </div>

    <hr>

    <div class="row mt-4">
      <div class="col-md-6">
        <p>Copyright 2020. This template designed by <a href="https://macodeid.com">MACode ID</a></p>
      </div>
      <div class="col-md-6 text-right">
        <div class="sosmed-button">
          <a href="#"><span class="mai-logo-facebook-f"></span></a>
          <a href="#"><span class="mai-logo-twitter"></span></a>
          <a href="#"><span class="mai-logo-youtube"></span></a>
          <a href="#"><span class="mai-logo-linkedin"></span></a>
        </div>
      </div>
    </div>
  </div>
   </footer>