{% load static %}

		<!--menu start-->
		<section id="menu">
			<div class="container">
				<div class="menubar">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header" style="display: flex; align-items: center;">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="{% url 'welcome' %}">
								<div style="display: flex; align-items: center">
									<img src="{% static 'images/logo/global_white.png' %}" alt="logo" width="50" height="50">
									<span style="color:#fff; font-size: 40px; margin-left: 20px;">SP Global</span>
								</div>
							</a>
						</div><!--/.navbar-header -->
		
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="display: flex; align-items: center;">
							<ul class="nav navbar-nav navbar-right">
								<li class="{% if current_page == 'welcome' %}active{% endif %}">
                  <a href="{% url 'welcome' %}">Home</a>
                </li>
								
                <li class="{% if current_page == 'request_home' %}active{% endif %}">
                  <a href="{% url 'request_home' %}">Service</a>
                </li>
								<li class="{% if current_page == 'contact' %}active{% endif %}">
                  <a href="{% url 'contact' %}">Contact</a>
                </li>
				<li>
					
						
						<form action="{% url 'logout' %}" method="POST" class="logout-form">
							
							{% csrf_token %}
							<button type="submit" class="logout-button">
							<i class="fas icon fa-sign-out-alt"></i> Logout
							</button>

						</form>
						
				</li>

							

				</ul><!-- / ul -->

						</div><!-- /.navbar-collapse -->
					</nav><!--/nav -->
				</div><!--/.menubar -->
			</div><!-- /.container -->
		</section><!--/#menu-->
