{% load static%} 



{%block content%}

<!--header start-->
<section class="header">
  <div class="container">	
    <div class="header-left">
      <ul class="pull-left">
        <li>
          <a href="#">
            <i class="fa fa-envelope" aria-hidden="true"></i>info@mail.com
          </a>
        </li><!--/li-->
        <li>
          <a href="#">
            <i class="fa fa-phone" aria-hidden="true"></i> +992 563 542
          </a>
        </li><!--/li-->

      </ul><!--/ul-->
    </div><!--/.header-left -->
    <div class="header-right pull-right">
      <ul>

        <li>
          <div class="social-icon">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul><!--/.ul -->
          </div><!--/.social-icon -->
        </li><!--/li -->
      </ul><!--/ul -->
    </div><!--/.header-right -->
  </div><!--/.container -->	

</section><!--/.header-->	
<!--header end-->

<!--menu start-->
<section id="menu">
  <div class="container">
    <div class="menubar">
      <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="display: flex; align-items: center;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'welcome' %}">
            <div style="display: flex; align-items: center">
              <img src="{% static 'images/logo/global_white.png' %}" alt="logo" width="50" height="50">
              <span style="color:#fff; font-size: 40px; margin-left: 20px;">SP Global</span>
            </div>
          </a>
        </div><!--/.navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item {% if request.path == '/' %}active{% endif %}">
              <a href="{% url 'welcome' %}">Home
                
              </a>
            </li>
            
            <li class="nav-item {% if request.path == '/authentication/login' %}active{% endif %}">
              <a href="/authentication/login">Login 
              </a>
            </li>
            <li class="nav-item {% if request.path == '/authentication/register' %}active{% endif %}">
              <a href="/authentication/register">Register</a>
            </li>
            <li class="nav-item {% if request.path == '/authentication/request-password' %}active{% endif %}">
              <a href="/authentication/request-password">Forgot Password</a>
            </li>


          </ul><!-- / ul -->
        </div><!-- /.navbar-collapse -->
      </nav><!--/nav -->
    </div><!--/.menubar -->
  </div><!-- /.container -->
</section><!--/#menu-->

<!--menu end-->


{%endblock%}
