{% extends 'welcome.html' %} 

{% load static%} {%block title%} | Login to Account

{%endblock%} 

{%block content%}

    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
      <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
          <div class="img-fill">
              <div class="text-content">
                <h6>we are ready to help you</h6>
                <h4>Financial Analysis<br>&amp; Consulting</h4>
                <p>This finance HTML template is 100% free of charge provided by TemplateMo for everyone. You can download, edit and use this layout for your business website.</p>
                <a href="{%url 'login'%}" class="filled-button">Login</a>
              </div>
          </div>
        </div>
        <!-- // Item -->

          </div>
        </div>
        <!-- // Item -->
      </div>
  </div>
  <!-- Banner Ends Here -->




{%endblock%}
