{% extends 'base.html' %}
{% load plotly_dash %}
{% block title %} Quiz - GCP Digital Leader {% endblock%}

{% block content %}

    {% if user.is_authenticated %}
    <section class="position-relative py-4">

        </section>
    <body>
        <!-- Agrega los elementos Div aquí -->

        <div class="{%plotly_class name='Request_DashApp'%}">
            {%plotly_app name="Request_DashApp" ratio=0.45%}
        </div>
    </body>
    <section class="position-relative py-4" >

    </section>

    {% else %}
    <h1>Necesita <a href="/login">Iniciar sesion</a> para crear un post</h1>
    {% endif %}
{% endblock %}
