{% extends 'base.html' %}
{% load static %}

{%block content%}



    <title> TITULO {% block title %} {% endblock %}</title>


  <body >


    <section class="about-part team-part">
      
        <div class="container">
            <div class="about-part-details text-center"> 
                <h2>Servicios</h2>
                <div class="about-part-content">
                    <div class="breadcrumbs">
                        <div class="container">
                            <ol class="breadcrumb">
                              <li><a href="#">home</a><span>//</span></li>
                              <li><a href="#">Servicios</a></li>
                            </ol><!--/.breadcrumb-->
                        </div><!--/.container-->
                    </div><!--/.breadcrumbs-->
                </div><!--/.about-part-content-->
            </div><!--/.about-part-details-->	
        </div><!--/.container-->

    </section><!--/.about-part-->
        


        <section class="container-xxl ">
            <h2> REQUEST HISTORY </h2>
          </section>

<!-- About Section -->
<section class="container py-5" id="what_do_I_want_to_learn">
    <h1> What do I want to learn? </h1>
    
</section>


<!-- Curriculum Vitae Section -->
<section class="container py-5" id="what_do_I_know_now">
    <h1> What do I know now? </h1>
    <div class="row justify-content-around">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Título de la tarjeta</h5>
                    <p class="card-text">Aquí va el texto de tu tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Título de la tarjeta</h5>
                    <p class="card-text">Aquí va el texto de tu tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Título de la tarjeta</h5>
                    <p class="card-text">Aquí va el texto de tu tarjeta.</p>
                </div>
            </div>
        </div>
        
    </div>
</section>

 <!-- Contact Section -->
 <section class="container py-5" id="what_am_I_currently_studying">
    <h1>What am I currently studying? </h1>
    <div class="row justify-content-around">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Título de la tarjeta</h5>
                    <p class="card-text">Aquí va el texto de tu tarjeta.</p>
                </div>
            </div>
        </div>
    </div>
 </section>
 

 <!-- Footer -->

 <!-- </footer> -->

 <!-- Bootstrap script link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>


      {%endblock%}
