{% extends 'base.html' %}
{% load static %}

{%block content%}

    <title> TITULO {% block title %} {% endblock %}</title>


		<section  class="service">
      <div class="container">
        <div class="service-details">
          <div class="section-header text-center">
            <h2> Servicios </h2>
            <p>
              Pallamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            </p>
          </div><!--/.section-header-->
          <div class="service-content-one">
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <div class="service-single text-center">
                  <div class="service-img">
                    <img src="{% static 'images/service/service1.png' %}" alt="image of service" />
                  </div><!--/.service-img-->
                  <div class="service-txt">
                    <h2>
                      <a href="{% url 'new_request' pk=8 %}">Generar una Nueva Solicitud</a>
                    </h2>
                    <p>
                      Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
                    </p>
                    <a href="#" class="service-btn">
                      learn more
                    </a>
                  </div><!--/.service-txt-->
                </div><!--/.service-single-->
              </div><!--/.col-->
              <div class="col-sm-4 col-xs-12">
                <div class="service-single text-center">
                  <div class="service-img">
                    <img src="{% static 'images/service/service2.png' %}" alt="image of service" />
                  </div><!--/.service-img-->
                  <div class="service-txt">
                    <h2>
                      <a href="#">Revisar Estado Solicitud</a>
                    </h2>
                    <p>
                      Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
                    </p>
                    <a href="#" class="service-btn">
                      learn more
                    </a>
                  </div><!--/.service-txt-->
                </div><!--/.service-single-->
              </div><!--/.col-->
              <div class="col-sm-4 col-xs-12">
                <div class="service-single text-center">
                  <div class="service-img">
                    <img src="{% static 'images/service/service3.png' %}" alt="image of service" />
                  </div><!--/.service-img-->
                  <div class="service-txt">
                    <h2>
                      <a href="#">Revisar Historial Solicitudes</a>
                    </h2>
                    <p>
                      Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
                    </p>
                    <a href="#" class="service-btn">
                      learn more
                    </a>
                  </div><!--/.service-txt-->
                </div><!--/.service-single-->
              </div><!--/.col-->
            </div><!--/.row-->
          </div><!--/.service-content-one-->
          
        </div><!--/.service-details-->
      </div><!--/.container-->
      
  </section><!--/.service-->
  <!--service end-->

  <!-- new-project start -->
  <section class="new-project">
      <div class="container">
        <div class="new-project-details">
          <div class="row">
            <div class="col-md-10 col-sm-8">
              <div class="single-new-project">
                <h3>
                  Want to start a new project with us? Let’s Start!
                </h3>
              </div><!-- /.single-new-project-->	
            </div><!-- /.col-->	
            <div class="col-md-2 col-sm-4">
              <div class="single-new-project">
                <a href="#" class="slide-btn">
                  start now
                </a>
              </div><!-- /.single-new-project-->	
            </div><!-- /.col-->	
          </div><!-- /.row-->	
        </div><!-- /.new-project-details-->	
      </div><!-- /.container-->	

  </section><!-- /.new-project-->	
  <!-- new-project end -->
  

      {%endblock%}



