
{% load plotly_dash %}

    {% if user.is_authenticated %}

    <body>

        <div class="{%plotly_class name='Request_Revision_Solicitud_DashApp'%}">
            {% if screen_width > 800 %}
                {%plotly_app name="Request_Revision_Solicitud_DashApp" ratio=0.45%}
            {% else %}
                {%plotly_app name="Request_Revision_Solicitud_DashApp" ratio=1.45%}
            {% endif %}
        </div>
    </body>
    <section class="position-relative py-4" >

    </section>

    {% else %}
    <h1>Necesita <a href="/login">Iniciar sesion</a> para crear un post</h1>
    {% endif %}

