{% extends 'welcome.html' %} 

{% load static%} {%block title%} | Login to Account

{%endblock%} 

{%block content%}
<style>
    .center-card {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .image_lock{
      height:125px;
      padding-top: 25px;
      padding-right: 200px;
      padding-left: 180px;
  }
  
    .logout-link {
    font-size: 17px !important;
    padding: 10px !important;
    color: white !important;
    text-decoration: none !important;
    background: none !important;
    color: white !important;
    border: none;
  }
  
  .logout-link :hover {
    font-size: 17px !important;
    padding: 10px !important;
    text-decoration: none !important;
    background-color: rgb(21, 32, 43);
    color: rgb(29, 161, 243) !important;
    border: none;
  }
  
  .sidebar-container-items a {
    font-size: 17px;
    padding: 10px;
    color: white;
    text-decoration: none;
    background: none;
    color: white;
    border: none;
  }
  
  .login-section {
    margin-top: 10%;
  }
  
  @media (max-width: 765px) {
    .mobile-links {
      display: flex !important;
      flex-wrap: wrap;
    }
  }
  .mobile-up {
    color: white;
    padding: 5px 15px;
    font-size: 15px;
  }
  
  @media (max-width: 500px) {
    .login-section {
      margin-top: 2%;
    }
    main {
      padding-top: 150px !important;
    }
  }
  
  .toggle-show {
    position: absolute;
    right: 10%;
    margin-top: 2px;
  }
  
  .show-toggler {
    cursor: pointer;
    color: cornflowerblue;
    transition: all;
  }
  .show-toggler:hover {
    transform: scale(1.1);
  }
  
  </style>
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    
        
          <!-- Item -->
          
            
                
                    <!-- <div class="col-md-3"></div> -->
                    <div class="single-slide-item slide-1">
                    <div class="container">
                        
                        
                            <div class="center-card">
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <img src="{% static 'img/lock-forgot.png' %}" class="image_lock" style="margin-right: 0px 0%;"  alt="Card image cap">


                                        <p class="text-center" style="color: black;"><b>{{ selected_language.welcome.recover_password.title }}</b></p>
                                        <small class="text-muted">
                                            {{ selected_language.welcome.recover_password.instruction }}
                                        </small>
                                        <form class="mt-2" autocomplete="off" action="{% url 'request-password' %}"  method="post">
                                            {% csrf_token %}
                                            {% include 'partials/_alerts.html' %}
                                            <div class="form-group">
            
                                                <input type="email" class="form-control form-control-sm"
                                                    placeholder="Email" name="email" value="{{ data.email }}">
                                            </div>
                                            <input type="submit" class="btn btn-primary btn-block btn-sm" value="{{ selected_language.welcome.recover_password.send_link }}" />
                                            <div class="lower my-3 pl-3 pr-3">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <hr class="ml-1">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <small class="text-muted">OR</small>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <hr class="mr-1">
                                                    </div>
                                                </div>
                                                <a href="{% url 'register' %}" class="btn btn-block btn-sm">{{ selected_language.welcome.recover_password.create_new_account }}</a>
            
                                                <a href="{% url 'login' %}" class="btn btn-block btn-sm">{{ selected_language.welcome.recover_password.back_login }}</a>
            
                                            </div>
                                        </form>
                                    </div>
                                </div>
            
                            </div>
                        
                    </div>
                </div>
                    
                    
                
            
            </section>
            






{%endblock%}
